button {
    border-radius: 50%;
    color: #FEFFFE;
    position: relative;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 190%;
    margin: 0.5%;
}

.zero {
    width: 132px;
    border-radius: 45%;
}

/* colors */
.yellow {
    background-color: #FE9501;
}

.darkGrey {
    background-color: #333333;
}

.lightGrey {
    background-color: #A5A5A5; 
}

/* positions */
.top-right {

}

